fastapi
uvicorn
python-dotenv
pyjwt
passlib[bcrypt]
pydantic
rapidfuzz
psycopg2-binary
requests
pandas
tenacity
tqdm
sentence-transformers
scikit-learn
thefuzz
python-Levenshtein
pyarrow
numpy
geopy
networkx
